/* ESTILOS PARA DISTINTOS TAMANOS DE SCREEN */

/* ESTILO PARA IMPRESION */

@media print {

}

/* ESTILO PARA TABLET */

@media screen and (min-width: 768px) and (max-width: 992px) {
    i#burguer {
        display: none;
    }

    menu#itens {
        display: block;
    }

    menu#itens ul li {
        display: inline-block;
    }

    menu#itens {
        margin-left: 20px;
    }

}

/* ESTILO PARA DESKTOP */

@media screen and (min-width: 992px) {

    i#burguer {
        display: none;
    }

    menu#itens {
        display: block;
    }

    menu#itens ul li {
        display: inline-block;
        width: 160px;
    }

    menu#itens {
        text-align: center;
    }
    
    
}
